@media only screen and (max-width: 576px) {

/*-------------------- header-section-start */
.desktop{
    display: none;
}
.mobile{
    width: 100%;
    height: 3.9rem;
    display:flex;
    justify-content: space-between;
}
.mobile-header-container{
    width: 90%;
    height: 3.9rem;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.mobile-header-container img{
    width: 2.5rem;
    height:2.5rem;
    margin-left:1.25rem;
}

.unde-line{
    width: 100%;
    display: block;
    border-top:1px solid #FEA301 ;
}

/*-------------------- header-section---end */

/* ----------------------------------banner-section-start */
.banner-container{
    flex-direction: column;
    flex-direction: column-reverse;
    height: auto;
    text-align: center;
}
.banner-container .right-banner h1{
    font-size: 2rem;
    font-weight: bold;
}
.banner-container .right-banner p{
    font-size: .9rem;
    font-weight: 300;
}
.left-banner img{
    width: 22rem;
    height: 35rem;
    padding: 1rem;
}
/* ----------------------------------banner-section---end */

/*------------------------------- curriculum-section-start */
.curriculum-section-start{
    max-width:100%;
    height:auto;
    background-image: none;
    margin: 1rem auto 1rem;
}
.curriculum-card-container{
    max-width:100%;
    height:auto;
    grid-template-columns: repeat(1,1fr);
    padding: 2rem;
}
.card-box{
    max-width:100%;
    height:30rem;
}
.radious-container{
    display: none;
}
/*------------------------------- curriculum-section---end */

/*---------------------------------- stories-section-start */
.left-galary{
    display: none;
}
.right-galary{
    max-width:100%;
    height:auto;
    margin:0 auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: .5rem;
    padding: 1rem;
 }
 .right-galary .img1{
    max-width:100%;
    height:auto;
    background-color: white;
    border-radius: 1rem;
 }
 
 .img1 img{
    max-width:100%;
    height:auto;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    object-fit:fill;
 }
 .in-btn button{
    width:9.9rem;
    height:2.3rem;
    background-color: #3CD8E8;
    color: white;
    border: none;
    border-radius: 1rem;
    font-size: .9rem;
    font-weight:400;
    position: absolute;
    left: .4rem;
    top: 6rem;
 }
/*---------------------------------- stories-section---end */

/* -------------------------------------footer-section-start */
.footer-container{
    max-width:100%;
    height:30.6rem;
    margin:0 auto 4rem;
    background-color: #01ACFD;
}
.all-footer-container{
    flex-direction: column;
    justify-content: start;
    gap: 2rem;
    padding: 2rem;
}
.left-footer{
    max-width:100%;
    height:auto; 
}
.midle-footer{
    max-width: 100%;
    height: auto;
 }
 
.right-footer{
    max-width:100%;
    height: auto;  
}
/* -------------------------------------footer-section---end */



/* end */

 }