
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
/*   font-family: "Quicksand", serif; */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Quicksand", serif;
}

/*-------------------------------------- header-section-start */
.header-container{
    max-width: 72.5rem;
    height: 3.9rem;
    margin: 2rem auto;
    display: grid;
    grid-template-columns: 12.62rem 24.2rem 12rem;
    justify-content: space-between;
}

/* logo-style */
.logo-container{
    max-width: 12.6rem;
    height:3.9rem;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: .5rem; 
    margin: 0 auto; 
}
.logo-container img{
width:3.2rem;
height:auto;
margin-top: -1rem;
}
.logo-container h1{
    font-size: 2rem;
    font-weight: bold;
    color: black;
}
/* menu-style */
.menu-container{
    width:24.2rem;
    height:3.9rem;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu-container ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.menu-container ul li{
    list-style: none;
}
.menu-container ul li a{
    text-decoration: none;
  
}
.Home{
    font-size: 1.25rem;
    font-weight: bold;
    color: aqua;
}
.About{
    font-size: 1.25rem;
    font-weight: bold;
    color: rgb(38, 0, 255); 
}
.Facilities{
    font-size: 1.25rem;
    font-weight: bold;
    color: rgb(2, 73, 32); 
}
.Admission{
    font-size: 1.25rem;
    font-weight: bold;
    color: black;  
}


/* header-btn */
.header-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-btn button{
width:12.3rem;
height:3.1rem;
background-color: #FEA301;
color: white;
border: none;
border-radius: 10px;
font-size: 1.25rem;
font-weight:600;
}
.header-btn button:hover{
    background-color: green;
    color: white;
}

/* mobile-for-display-none */
.mobile,.unde-line{
    display: none;
}
/*-------------------------------------- header-section---end */

/*-------------------------------------- marque-section-start */
marquee h1{
    font-size: 3.5rem;
    font-weight: bold;
    color: #FEA301;
    
}
.kids{
    color:#01ACFD ;
}
/*-------------------------------------- marque-section---end */

/*-------------------------------------- banner-section-start */
.banner-container{
    max-width: 72.4rem;
    height: 36rem;
    margin: .5rem auto; 
    display: flex;
    justify-content: space-between;
    align-items: center;  
}
.banner-container .right-banner{
    max-width: 40rem;
    height: 20.68rem;
}
.Empowering{
    color: #FEA301;
}
.towards{
    color: #01ACFD;
}
.banner-container .right-banner h1{
    font-size: 3.5rem;
    font-weight: bold;
}
.banner-container .right-banner p{
    font-size: 1.25rem;
    font-weight: 400;
    margin-top: 1rem;
}
.banner-container .left-banner{
    max-width: 29.28rem;
    height: 36rem;
}
.banner-btn button{
    width:12.3rem;
    height:3.1rem;
    background-color: black;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 1.25rem;
    font-weight:600;
    margin-top: 1rem;  
}
.banner-btn button:hover{
    background-color: #FEA301;
}


/*-------------------------------------- banner-section--end */

/* ---------------------------------curriculum-section-start */ 
.curriculum-section-start{
    max-width:90rem;
    height:55rem;
    background-image: url(../images/bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 5rem auto 2rem;
    text-align: center;
}
 .standard{
    font-size: 2.87rem;
    font-weight: bold;
    margin-bottom: 1rem;
}
.curriculum-card-container{
    max-width:72.5rem;
    height:25rem;
    margin: 5rem auto 0;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(3,1fr);
    justify-content: space-between;
}
.card-box{
    max-width:23rem;
    height:30rem;
    border-radius: 1rem;
    box-shadow: 3px 3px 3px black;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D9AFD9;
    background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);
}
.box-card h1{
    font-size: 1.5rem;
    font-weight: bold;
    margin: 1rem 0;
}
.box-card p{
    font-size: 1rem;
    font-weight: 400;
    margin: 1rem 0; 
}
.read{
    color: red;
    margin-top: 2rem;
}
.rea{
    color: rgb(13, 204, 55);
    margin-top: 2rem;
}
.re{
    color: rgb(17, 0, 255);
    margin-top: 2rem;
}

.radious-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 13rem auto 0;
    gap: 1rem;
}

.les, .geter{
    background-color: #FEA301;
    width: 3.75rem;
    height: 3.75rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
/* ---------------------------------curriculum-section---end */

/* -----------------------------------stories-section-start */
 .stories-container{
    text-align: center;
 }
 .stories-container h1{
    font-size: 2.87rem;
    font-weight: bold;
    margin: 3rem 0;  
 }
 .stories-galary{
    max-width:72.5rem;
    height:45.6rem;
    margin:0 auto;
    display: flex;
    align-items: center;
    background-color: #D9AFD9;
    background-image: linear-gradient(0deg, #D9AFD9 0%, #e0eaeb 100%);
 }

 .left-galary{
    max-width:33.76rem;
    height:38.6rem;
    margin:0 auto;
    border-radius: 10px;
    background-color: white;
    box-shadow: 3px 3px 3px rgb(51, 50, 50);
    position: relative;
 }
 .left-galary img{
    max-width:33.76rem;
    height:21rem;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    object-fit:contain;
 }
 .left-galary h1{
    font-size: 1.5rem;
    font-weight: bold;
    text-align: left;
    margin-left: 5vw;
 }
 .left-galary p{
    font-size: 1rem;
    font-weight: 400;
    text-align: left;
    margin-left: 5vw;
    color: rgb(73, 71, 71);
 }
 .left-galary button{
    width:11rem;
    height:3rem;
    background-color: #3CD8E8;
    color: white;
    border: none;
    border-radius: 1rem;
    font-size: .9rem;
    font-weight:400;
    position: absolute;
   left: 3.5rem;
   top: 19.5rem;
 }
 .right-galary{
    max-width:33.76rem;
    height:39.4rem;
    margin:0 auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: .5rem;
 }
 .right-galary .img1{
    max-width:16rem;
    height:18.85rem;
    background-color: white;
    border-radius: 1rem;
 }
 .img1 img{
    max-width:16rem;
    height:12.3rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    object-fit:fill;
 }
 .img1 h1 {
    font-size: 1rem;
    font-weight: bold;
    text-align: left;
    margin-left: 3vw;
    margin-top: 8vh;
}
 .img1{
    position: relative;
    box-shadow: 2px 2px 2px rgb(51, 50, 50);

 }
 .in-btn button{
    width:10.9rem;
    height:2.3rem;
    background-color: #3CD8E8;
    color: white;
    border: none;
    border-radius: 1rem;
    font-size: .9rem;
    font-weight:400;
    position: absolute;
    left: 2rem;
    top: 11rem;
 }

/* -----------------------------------stories-section----end */

/*------------------------------------ footer-container-start */
.footer-container{
    max-width:72.5rem;
    height:20.6rem;
    margin:0 auto 4rem;
    background-color: #01ACFD;
}
.all-footer-container{
    max-width:68.5rem;
    height:15.6rem;
    margin:0 auto;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
}
.left-footer{
    max-width:25rem;
    height:auto; 
}
.left-footer p{
    font-size:.5rem;
    font-weight:400;
    color:white;
}

.midle-footer{
   max-width: 25rem;
   height: auto;
}
.midle-footer h1{
    font-size:1.5rem;
    font-weight:bold;
    color:white;
    margin-bottom: .5rem;
}
.midle-footer ul li{
    list-style: none;
}
.midle-footer ul li a{
    text-decoration: none;
    color: white;
}

.right-footer{
    max-width: 25rem;
    height: auto;  
}
.right-footer h1{
    font-size:1.5rem;
    font-weight:bold;
    color:white;
    margin-bottom: 1.9rem;
}
.right-footer ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.right-footer ul li{
    list-style: none; 
}
.right-footer ul li a i {
    font-size: 2rem;
    margin-top: .5rem;
    color: white;
}

.footer-logo-container{
    display: flex;
    justify-content:start;
    align-items: center; 
    gap: .5rem;
    margin-bottom: 1rem;
}
.footer-logo-container h1{
    font-size:1.5rem;
    font-weight:bold;
    color:white;
}

/*------------------------------------ footer-container---end */